<footer class="footer">
  <div class="container-footer">
    <div class="footer-left">
      <img class="home-logo" src="/images/logo_negro.png">
      <p>© 2025 Todos los derechos reservados.</p>
    </div>
    <div class="footer-right">
      <a href="/contacto">Contacto</a>
      <a href="/privacidad">Política de Privacidad</a>
      <a href="/redes">Redes Sociales</a>
    </div>
  </div>
</footer>
