
    <div class="nav-bar-top">
        <div class="space"></div>
        <div class="nav-bar-area">
            <!--Area del logo arriba izquierda-->
            <div class="logo">VENDIDO.COM</div>
            <!--Area del buscador en el medio-->
            <div class="nav-bar-right">
              <div class="search-bar-area">
                <a class="iniciar-sesion"><div>Comprar</div></a>
                <a class="iniciar-sesion"><div>Rentar</div></a>
                <a class="iniciar-sesion"><div>Vender</div></a>
              </div>

              <!--Area del logo arriba izquierda-->
              <div class="user-bar-area">
                <a class="iniciar-sesion"><div>Iniciar sesion</div></a>
                <a class="nav-yellow-botton"><div class="yellow-botton">+ Publicar</div></a>
              </div>  

              <div id="movil-menu-button" class="icono-web-nav">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 22 22"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </div>
              <div id="sidePanel" class="hidden"></div>
            </div>
            
        </div>
        

   
        <div class="space"></div>
    </div>


    <!--FORM PARA EL SEARCH
    <form class="form-search" method="POST" action="/search" type="button">
      <input id="search" type="text" class="search-input" value name="search" placeholder="Busca tu cocktail favorito...">
      <button id="buttonSummit" class="submit-button" type="submit">
      <div id="demo" class="search-button"><img class="search-icon" src="images/lupaIcon.png"></div>
      </button>
  </form>-->

