<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS del header -->
    <link rel="stylesheet" type="text/css" href="/styles/header.css">

    <link rel="stylesheet" type="text/css" href="/styles/anuncios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">


    <title>E-Commerce</title>
</head>
<body >
  <%- include("partials/header.ejs")%>
<div class="anuncioPage">
  <div class="sidebar"></div>
  <div class="main">
    <div class="go-back-div">
      <a href="/" class="login-back">
      <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M15 18L9 12L15 6" stroke="#b71c1c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div class="back-text">Volver a mis Anuncios</div>
    </a>
    </div>
    <h1>Edita tu anuncio:</h1>
    <form class="formAnuncio" action="/anuncio/save-changes" method="post">

      <input type="hidden" name="id" value="<%= anuncio.id %>">

      <!-- Tipo de Anuncio -->
      <label id="tipo_inmueble" >Tipo de Anuncio</label>
      <div class="option-group">
        <div class="option-btn">Venta</div>
        <div class="option-btn">Alquiler</div>
      </div>
      <!-- Input del Tipo de Anuncio -->
      <input id="option-btn" type="hidden" name="tipo_inmueble" value="">

      <!-- Título -->
      <label id="titulo" >Título del Anuncio</label>
      <input type="text" name="titulo" placeholder="Escribe el título...">

      <!-- Descripción -->
      <label id="descripcion" >Descripción del Anuncio</label>
      <textarea id="description" name="descripcion" placeholder="Escribe tu descripción..." 
        oninput="this.style.height='';this.style.height=this.scrollHeight+'px'"></textarea>
      <div>
        <div></div>
        <div></div>
      </div>
      <!-- Habitaciones -->
      <label id="hab" >Número de habitaciones</label>
      <select id="numero" name="hab" class="select-numero">
        <option value="">Seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <!-- Baños -->
      <label id="banos" >Baños</label>
      <select id="numero" name="banos" class="select-numero">
        <option value="">Seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <!-- Metros Cuadrados -->
      <label id="metros_cuadrados" >Metros Cuadrados</label>
      <input class="metros-input" name="metros_cuadrados" type="number" placeholder="Ej. 120">

      <!-- Parqueos -->
      <label id="parqueos" >Parqueos</label>
      <select id="numero" name="parqueos" class="select-numero">
        <option value="">Seleccione</option>
        <option value="1">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <!-- Ciudad -->
      <label id="ciudad" >Ciudad</label>
      <select id="citySelect" name="ciudad">
        <option value="">-- Selecciona una Ciudad --</option>
      </select>

      <!-- Sector -->
      <label id="sector" >Sector</label>
      <select id="sectorSelect" name="sector">
        <option value="">-- Selecciona una Ciudad --</option>
      </select>

      <!-- Precio -->
      <label id="precio" >Precio</label>
      <input id="precioInput" name="precio" type="text" placeholder="Ej. 2500000">

      <!-- Moneda -->
      <label id="moneda" >Moneda</label>
      <div class="option-group">
        <div class="moneda-btn">$RD</div>
        <div class="moneda-btn">$US</div>
      </div>
      <!-- Input del Tipo de Moneda -->
      <input id="moneda-btn" type="hidden" name="moneda" value="">

      <!-- Amueblado -->
      <label id="amueblado">Amueblado</label>
      <div class="option-group">
        <div class="amueblado-btn">Amueblado</div>
        <div class="amueblado-btn">No Amueblado</div>
      </div>
      <!-- Input de Amueblado -->
      <input id="amueblado-btn" type="hidden" name="amueblado" value="">

      <!-- Tipo de Inmueble -->
      <label id="inmueble">Tipo de Inmueble</label>
      <select id="clase-inmueble" name="inmueble">
        <option value="">Seleccione</option>
        <option>Inmuebles</option>
        <option>Apartamentos</option>
        <option>Casas</option>
        <option>Casas Vacacionales y Villas</option>
        <option>Locales y Oficinas</option>
        <option>Solares</option>
        <option>Penthouses</option>
        <option>Otros</option>
      </select>
      <div class="mensaje-error" id="mensaje-error"></div>

      <button type="submit" class="submit-btn">Guardar Cambios</button>
    </form>










  </div>
  <div class="sidebar"></div>
</div>

<!-- Primero la librería externa -->
<script>
  const anuncio = <%- JSON.stringify(anuncio || {}) %>; // fallback a objeto vacío

</script>

<script src="https://unpkg.com/browser-image-compression@latest/dist/browser-image-compression.js"></script>

<!-- Después tu script que la usa el-->
<script src="/editAnuncio.js" type="text/javascript"></script>

</body>
</html>