/* bigshot one font */
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
/*pARA ELIMINAR EL SELECCION TOUCH AZUL*/
a, button, div {
    -webkit-tap-highlight-color: transparent;
}


body {
    margin: 0px;
    margin-bottom: 0px;
}

:root {
  --fuente-principal: 'Roboto', sans-serif;
  --main-color: #b71c1c;
  --secondary-color: #b99a32;
  --yellow-logo: #FED700;
  --blanco-logo: #F5F5F4;
  --darkgrey-color: #2B2A27;
  --color-fondo: #f6f6f6;
}



svg{font-weight:bold;max-width:600px;height:100%;}

.tittle-a {
    color: #FACC00;
}

.nav-bar-top {
    background-color: #b71c1c;
    display: flex;
    height: 75px;
    margin-top: 0px;
    border-bottom: 1px solid #212121;;
}


.space {
    flex: 1;

}

.nav-bar-area {
    flex: 8;
    display: flex;

}



.logo {
    display: flex;
    align-items:flex-start;
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

.home-logo {
    height: 50px;
    margin-top: 6px;
}

.nav-bar-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hidden {
    display: none;
}

.search-bar-area {
    display: flex;
}

.user-bar-area {
    display: flex;
}

.icono-web-nav {
    display: none;
  }

.form-search {
    display: flex;
    align-items: center;
}



.submit-button {
    background-color: #1d477a;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.search-button {
    background-color: #FACC00;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.iniciar-sesion, .nav-yellow-botton {
 color: #F1F1F1;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 25px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 500;
 font-size: 16px;
 cursor: pointer;
 transition: color 0.2s ease-in-out;
}

.iniciar-sesion:hover {
    color: var(--secondary-color);
}

.yellow-botton {
    background-color: #1A1A1A;
    padding: 10px 12px 10px 12px;
    color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.yellow-botton:hover {
    transform: translate(-2px);
    background-color: var(--secondary-color);
    color: #212121;
    font-weight: bold;
}

.yellow-botton:active {
    background-color: #F1F1F1;
    transform: translateY(0);
}

.search-icon {
    height: 20px;
}

.movil-nav-box {
  display: none;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: inherit;
  position: relative;
  cursor: pointer;
}
.user-nav-icon {
  width: 40px;
  height: 40px;
  color: inherit;
  stroke: #F3F4F6;
}

.nav-icon-tooltip {
  position: absolute;
  top: 150%;          /* justo debajo del ícono */
  right: 0px;          /* a la mitad horizontal del contenedor */
  transform: translateY(-10px); /* centrado y un poco arriba para animación */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;  /* evita que se pueda clickar cuando está oculto */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.375);
  background-color: #212121;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: var(--fuente-principal);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
  z-index: 9999;
  pointer-events: none;
}

.nav-icon-tooltip.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;  /* permite interacciones cuando está visible */
}


/*DISENO DE HOME EJS*/

.home-page-area {
    height: 100%;
    display: flex;
    margin-top: 10px;

}

.space-home, .space-anuncio {
    flex: 1;
}

.home-bar-area {
    flex: 7;
    display: flex;
    position: relative;
    height: 500px;
    flex-direction: column;
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    padding-left: 20px;
}

.home-bar-area::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    z-index: 1;
}

/*Encuentra el hogar
de tus suenos*/
.big_title {
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #eac23c;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 60px;
    line-height: 1;
}

.eliel {
    z-index: 2;
}

.segmented-control {
    display: flex;
    border: 1px solid #f9f9f9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    background: #212121;
    width: 300px;
  }
  
  .segmented-control .segment {
    padding: 10px 20px;
    width: 100px;
    background: transparent;
    border: none;
    color: #f9f9f9;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .segmented-control .segment:hover {
    background: #b71c1c;
    color: #f9f9f9;
  }
  
  .segmented-control .selected {
    background: #f9f9f9;
    color: #000;
    font-size: 17px;
  }
  
  .title-search-div-a {
    width: 570px;
    display: flex;
    flex-direction: column;
  }

.title-search-div-b {
    background-color: #f9f9f9;
    display: flex;
    height: 60px;
    flex: 1;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border: 1px solid #f9f9f9;
}

.div-b, .div-b-a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    position: relative;  /*ESTO HACE QUE EL TOOLTIP ESTE ABSOLUTE*/
}

.div-b-a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.div-b-ab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    position: relative;  /*ESTO HACE QUE EL TOOLTIP ESTE ABSOLUTE*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip for the 'property type' button -----------------------*/
.tooltip-type {
    position: absolute;
    top: 50px;
    left: 10px;
    

    /* Appearance */
    background-color: #f9f9f9;
    color: black;
    border-radius: 5px;
    width: 300px;
    border-radius: 20px;
    border: #212121 2px solid;

    /* Shadow effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);   

    /* Visibility control */
    z-index: 10;
    display: none;
}

/* Main container for the tooltip list */
.container-tool-type {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* Styles for each item inside the container */
.container-tool-type div {
    /* Layout */
    justify-content: left;
    display: flex;

     /* Borders and sizing */
    padding: 14px 0px 14px 10px;
    border: 1px solid #ccc;
    height: auto; /* Ajuste dinámico */
    
     /* Typography */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
}

/*------------------------------------------------------*/

/* Tooltip for the 'property PRICE' button */
.tooltip-price {
    position: absolute;
    top: 50px;
    left: 10px;

    /* Appearance */
    background-color: #f9f9f9;
    color: black;
    width: 300px;
    border-radius: 20px;
    border: #212121 2px solid;


    /* Visibility control */
    z-index: 10;
    display: none;
}

/* Main container for the tooltip list */
.container-tool-price {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* Styles for each item inside the container */
.container-tool-price div {
    /* Layout */
    display: flex;

    height: auto; /* Ajuste dinámico */

    /* Typography */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.tool-price-moneda {
    margin-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.tool-price-moneda-options {
    justify-content: center;
    display: flex;
}

.tool-price-moneda-rd {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.tool-price-moneda-usa {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    margin-left: 5px;
    border-radius: 5px;
}

.tool-price-moneda-rd:hover, .tool-price-moneda-usa:hover {
    background-color: #212121;
    color: #d1d1d1;
}

.tool-price-moneda-selected {
    background-color: #999999;
}

/*Area de label de minimo y maximo*/

.currency-labels {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
}

.min-label, .max-label {
    color: #b71c1c;
    font-size: 14px;
}

/* Area de los inputs del minimo y maximo*/
  /*Contedenor*/
.area-price-input {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 5px;
}
  /*Elementos Input*/
.price-input {
  padding: 10px;
  width: 120px; /* ajuste ideal */
  box-sizing: border-box;
  font-family: monospace; /* más predecible para números */
  font-size: 15px;
  border-radius: 5px;
  border: #999999 solid 1px;
  background-color: #ffffff;
}

/*AREA DE BOTONES DE ABAJO "LIMPIAR" y "Guardar"*/
        /*Container*/
.toolprice-buttons {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
}
    /*Button clear*/
.toolprice-clear, .toolprice-save {
    color: #F1F1F1;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #1A1A1A;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
}

.toolprice-save {
    background-color: #D4AF37;
    color: #1A1A1A;
}

.toolprice-save:hover {
    background-color: #b99a32;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 7px;
    transition: transform 0.3s ease;
}

/*----------------------------------------------------------------*/
/*------------------------------------------------------*/

/* Tooltip for the 'property LOCATION' button */

#modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-city-label, .modal-title-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    padding: 10px;
}

.modal-title-label {
    font-size: 25px;
    padding-top: 0px;
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 15px;
    font-weight: bold;
    color: #212121;
}

.ashley {
    background-color: red;
}

#containerCity {
      border: 1px solid #ccc;
      padding: 20px;
      width: 360px;
      padding-top: 0px;
      border-radius: 10px;
    }

#containerSector {
    border: 1px solid #ccc;
    padding: 20px;
    width: 360px;
    padding-top: 0px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    position: relative;
    z-index: 1001;
}    

    #divA, .modal-city-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 2px solid #999999;
        border-radius: 10px;
    }

    #divA:hover {
        border: 2px solid #b71c1c;
    }
    
    .ciudades-busqueda {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #212121;
        padding-left: 25px;
    }

    .ciudades-busqueda:hover {
        background-color: #d1d1d1;
    }

    #cityButton, #sectorButton {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        color: #212121;
    }

    #cityInput,
    #sectorInput {
        margin-top: 10px;
        padding: 10px;
        width: 337px;
        padding: 10px;
        border: 2px solid #b99a32;
        border-radius: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }

    #cityInput:focus {
        border: 2px solid #b99a32; /* azul al hacer focus */
        box-shadow: 0 0 5px rgba(185, 154, 50, 0.6); /* sombra con #b99a32 en RGBA */
    }

    #cityList,
    #sectorList {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    }

#cityList {
  height: 250px;
}

#sectorList {
  height: 190px;
}

#cityList li,
#sectorList li {
  padding: 15px 10px;
  cursor: pointer;
}


#modalContent {
    width: 400px;
    height: 540px;
    background-color: white;
    padding: 20px;
    box-shadow: 0   0   10px    rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
    padding-top: 10px;
}

#closeModalBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    color: var(--main-color);
    background-color: transparent;
}

.closeModalBtn-x {
    display: flex;
    align-items: center;

}

.fixed-save-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.2s ease;
}

.fixed-save-btn:hover {
  background-color: #8c7527;
}

.span-inmuebles {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.div-inmmuebles {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: auto;
}
.details-search-button {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.details-search-button:hover {
    border: none;
    border-bottom: 3px solid #b71c1c;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #d1d1d1;
}

.result-number {
 padding-left: 5px;
}

.result-number-count {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16px;
}

.result-number-p {
    margin-top: 5px;
    color: #565959;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/*BOTON DE BUSQUEDA PRINCIPAL DE HOME EJS*/


.search-main-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-main-btn .icon {
  stroke: white;
}

.search-main-btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.search-main-btn:active {
  background-color: #701010;
  transform: translateY(0);
}

/*GRID HOME EJS SECTION*/

.home-grid-container {
    display: grid;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto auto;
}

.result-product {
 border: #F0F0F0 solid 1.2px;
 border-radius: 5px;
 height: 100%;
}

.submit {
    color: inherit;
    background-color: white;
    border: none;
    padding: 0;
    outline: inherit;
    font: inherit;
    cursor: pointer;
}

.result-product-image {
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
}
.product-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
}

.result-product-title {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
}

.result-product-title:hover {
    color: #FACC00;
}

.result-product-licor {
    font-family: sans-serif;
    margin-left: 6px;
    margin-top: 3px;
    font-size: 14px;
    color: #565959;
}

.home-bar-area {
    background-color: none;
}

/*PAGUINA DE ANUNCIO PARA PROYECTAR UNA IMAGEN*/

.space-anuncio {

    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding-top: 40.5px;
}

.anuncio-image-small {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 10px;
}

.anuncio-image-small:hover {
    border: 2px solid #FACC00;
}

.seccion-anuncio-a {
 display: flex;
 height: 100%;
}

.anuncio-imagen-principal, .image-slider {
    height: 100%;
    flex: 1.4;
    display: flex;
    justify-content: center;
}

.anuncio-imagen-principal {
    position: relative;
}

.slide-button {
    position: absolute;
    top: 45%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    box-shadow: 1px 1px 10px black;
    padding-left: 15px;
    padding-top: 8px;
}

.slide-button#next-image {
    padding-left: 10px;
}

.arrow-slide {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.slide-button:hover {
    opacity: 1;
}

.image-slider .slide-button#last-image {
   left: 10px;
}

.image-slider .slide-button#next-image {
    right: 10px;
}

.anuncio-area-titulo {
    height: 100%;
    flex: 1;
}

.anuncio-image-big {
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
}

/*----AREA DEL TITUL, PRECIO Y TAMBIEN DIRECCION----*/

.anuncio-area-titulo {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-area {
    height: 100px;
    border-bottom: 0.5px solid #b8bbbb;
    display: flex;
    justify-content: start;
    align-items: start;
}

.title-area div {
    font-family: "DM Serif Text", serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    padding-top: 0;
}

/*Area de Precio y Ubicacion*/
.price-location-area {
    height: 150px;
    border-bottom: 0.5px solid #b8bbbb;
}

.price-anuncio {
    font-family: "DM Serif Text", serif;
    font-size: 35px;
    color: #008000;
    margin-bottom: 0;
}

.location-anuncio {
    display: flex;
    align-items: start;
}

.location-anuncio img {
    height: 30px;
}

.location-anuncio .location-title {
    color: #999999;
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    padding-top: 6px;
}

/*Dia posteado y boton guardar*/

.date-posted-area {
    flex: 1;
    padding-top: 20px;
}

.date-posted {
    display: flex;
    font-family:'Times New Roman', Times, serif;
    color: #000;
    font-size: 18px;
    margin-bottom: 30px;
}

.date-posted-publicado {
    margin-right: 5px;
}

.date-posted-button {
    display: flex;
    justify-content: center;
}


.prueba {
    background-color: red;
}



.save-button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button:hover,
.save-button:focus {
  opacity: .90;
  color: #008000;
}

.favorite-logo {
    height: 30px;
}

/*----SECCION DE DESCRIPCION DEL ANUNCIO:----*/

.anuncio-caracteristicas {

    margin-top: 15px;
    padding: 16px;
    border: 1px solid #e6e2e2;
    border-radius: 6px;
    width: 620px;
}

.caract-title {

    font-size: 20px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;

}

.caract-details-container {

    display: flex;
}

.caract-container-a {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}


.caract-container-unidad {
    display: flex;
    align-items: center;
}

.caract-unidad {
    display: flex;
    align-items: center;
    color: #565959;
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    flex: 1;
}

.caract-icons {
    height: 30px;
    margin-right: 5px;
}

.caract-unit-result {
    font-size: 17px;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    color: #3b4144;
    flex: 0.5;
}

/*SECCION DEL GRID DE ANUNCIOS*/

.contenedor-grid {
  display: flex;
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  background-color: #F0F0F0;
}

.space-grid-home {
  width: 15%;
  padding: 10px;
  text-align: center;
}

.grid-center-area {
  width: 90%;
  display: flex;
  flex-direction: column; /* <-- Muy importante */
  padding: 10px;
}

.titulo-destacados,
.grid-anuncios {
  width: 100%; /* <-- Esto asegura que usen todo el ancho de div-b */
  background-color: white;
  margin-bottom: 10px; /* Solo para que se separen visualmente */
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
}

.titulo-destacados {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 20px;
  position: relative;
}

.title-text {
  padding-left: 15px;
}

.info-icon {
  width: 22px;
  height: 22px;
  background-color: #b99a32; /* dorado suave */
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.3s ease;
}

.info-icon:hover {
  background-color: #a28529;
}

/*Tool tip para anuncios destacados*/

.tooltip-anuncio {
  display: none;
  position: absolute;
  left: 300px;
  bottom: 25px;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  padding: 20px;
  width: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  z-index: 1000;
}

.btn-cerrar {
  position: absolute;
  top: 0;
  right:0;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.btn-cerrar svg {
  display: block;
}
.mensaje-principal {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.contacto-whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
  text-align: center;
}

.whatsapp-logo {
  width: 40px;
  height: 40px;
}

.boton-container {
  width: 100%;
}

.whatsapp-btn {
  display: inline-block;
  text-align: center;
  background-color: #25d366;
  color: #212121;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #1ebe5d;
}


/*AREA GRID ANUNCIOS: */

.grid-anuncios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 15px;
  grid-template-areas:
    x x x;
}

/* Todos los divs tienen la misma clase: .item */
/* Ahora les asignamos sus áreas usando nth-child */




/* Opcional: estilo común a todos */
.item {
  padding: 10px;
  text-align: center;
  background-color: #008000;
}

.anuncio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.anuncio-image {
    flex: 6;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.anuncio-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.anuncio-type {
  position: absolute;
  background-color: var(--main-color);
  top: 5px;
  left: 5px;
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.85rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 6px;
  color: white;
  white-space: nowrap; /* evita que el texto se divida */
}

.anuncio-type::first-letter {
text-transform: uppercase;
}

.anuncio-details {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.anuncio-details div {
  flex: 1;
  padding-left: 7px;
  text-align: left;
}
.anuncio-detail-price {
  font-family: 'Inter', sans-serif;
  font-weight: 900; /* UltraBold */
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.anuncio-detail-title {
  font-weight: 400; /* o 700 para bold */
  font-size: 17px;
  margin-bottom: 3px;
  font-family: 'Roboto', sans-serif;
}

.anuncio-detail-specs {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.detail-specs {
  font-weight: 100;
}

.anuncio-detail-location {
  font-size: 14px;
  color: #555;
  font-family: 'Roboto', sans-serif;
}


/*FOOTER*/

.footer {
  background-color: #222;
  color: #eee;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.container-footer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left h3 {
  margin: 0 0 8px 0;
  color: var(--secondary-color);
}

.footer-right a {
  color: #eee;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: var(--secondary-color);
}





@media (max-width: 768px) {

    body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    }

  .nav-bar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  

  .nav-bar-area {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 1;
  }

  .logo {
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 20px;
  }

  .home-logo {
    height: 40px;
    margin-top: 0px;
  }

  .nav-bar-right {
    justify-content: flex-end;
    flex: 1;
  }



  .search-bar-area,
  .user-bar-area {
    display: none;
  }

  .icono-web-nav {
    display: flex;
    justify-content: flex-end;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    margin-right: 3px;
  }

    .icono-web-nav svg {
    width: 24px;   /* Tamaño del ícono */
    height: 24px;
    stroke: #FFFFFF; /* Color de la línea */
  }

  #sidePanel {
  position: fixed;
  top: 50px; /* ajusta según la altura de tu header */
  left: 50px;
  right: 0;
  bottom: 0;
  background-color: #ffffff; /* o cualquier color de fondo */
  transform: translateX(100%) translateY(-0%);
  z-index: 999;
  transition: all 0.4s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

#sidePanel.visible {
    transform: translateX(-0%) translateY(-0%);
    opacity: 1;
}

.movil-nav-box {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: #212121;
  border: none;
  padding: 15px;
  gap: 10px;
  padding-left: 30px;
}



.movil-nav-box-inside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  background-color: #ffffff;
  border: none;

  padding-top: 10px;   /* Top padding */
  padding-bottom: 10px; /* Bottom padding */
  border-radius: 40px;
}

.movil-nav-icon-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: inherit;
}
.movil-nav-icon {
  width: 50px;
  height: 50px;
  color: inherit;
}
.a {
  background-color: #b0b0b0;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
}
.movil-nav-box:active {
  background-color: var(--main-color);
  color: #ffffff;
} 


.movil-nav-option-text {
  font-family: 'Roboto', sans-serif;
  color: inherit;
  font-size: 1.5rem;
}

.foto-usuario {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.nombre-usuario {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ocultar panel */
.hidden {
  display: none;
}


  .iniciar-sesion,
  .nav-yellow-botton {
    margin-top: 10px;
    width: 90%;
    justify-content: center;
  }

  .yellow-botton {
    display: none;
    width: 100%;
    text-align: center;
  }


.home-page-area {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.space-home, .space-anuncio {
    display: none;
}

.home-bar-area {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* ✅ Ocupa todo el ancho disponible */
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20%;
  border-radius: 0px;
}


.home-bar-area::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    z-index: 1;
}


/*Encuentra el hogar
de tus suenos*/
.big_title {
    font-size: 30px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #eac23c;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 60px;
    line-height: 1;
    text-align: center;
    line-height: 1.2;
}

.big_title br {
    display: none;
}

.title-search-div-a {
    display: flex;
    background-color: #21212185;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 200px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items: center;
  }

  .segmented-control {
    display: flex;
    border-radius: 5px;
  }

  .segmented-control .selected {
    background: var(--main-color);
    color: #f9f9f9;
    font-size: 18px;
  }

  .title-search-div-c {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    /*border: 3px solid #999999;*/
    margin-top: 5px;
  }

  .segment {
    display: flex;
    font-size: 16px;
  }

  .title-search-div-b {
    display: flex;
    flex-direction: column;
  }


.eliel {
    z-index: 2;
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.details-search-button {
    flex: 1;
}


  .space {
    display: none;
  }

  .space-home {
    display: none;
  }

  .div-b {
    display: flex;
    border-radius: 15px;
  }

  .div-b-a, .div-b-ab {
    border-radius: 15px;
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .span-inmuebles {
    font-size: 18px;
    padding: 20px;
    margin-left: 10px;
  }

  .div-inmmuebles {
    margin-left: auto;
  }

  .tooltip-type {
    position: absolute;
    top: 80px;
    left: 25px;
}
  
.tooltip-price {
    position: absolute;
    top: -225px;
    left: 25px;
}

.search-main-btn {
  display: inline-flex;
  position: absolute;
  top: 520px;
  left: 90px;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}


/*SECCION DEL GRID DE ANUNCIOS*/

.contenedor-grid {
  display: flex;
  width: 100%;
  margin-top: 200px;
  box-sizing: border-box;
}

.space-grid-home {
  width: 0%;
  padding: 0px;
}

.grid-center-area {
  width: 100%;
  display: flex;
  flex-direction: column; /* <-- Muy importante */
  padding: 10px;
}

.titulo-destacados,
.grid-anuncios {
  width: 100%; /* <-- Esto asegura que usen todo el ancho de div-b */
  background-color: white;
  margin-bottom: 10px; /* Solo para que se separen visualmente */
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.titulo-destacados {
    justify-content: center;
}

/*Icono de info para anuncios destacados*/
.info-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: #b99a32; /* dorado suave */
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: background-color 0.3s ease;
}

.tooltip-anuncio {
  display: none;
  position: absolute;
  bottom: 45px;
  left: 45px;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  padding: 20px;
  width: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  z-index: 1000;
}


/*GRID DE ANUNCIOS DESTACADOS*/

  .grid-anuncios {
    grid-template-columns: 1fr;
    grid-template-areas:
      "x"
      "x"
      "x";
  }


 /*FOOTER*/

  .container-footer {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  .footer-right {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .footer-right a {
    margin-left: 10px;
    margin-right: 10px;
  }

}







