/* -----------------------------
   FUENTES Y RESET
----------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Eliminar resaltado azul en dispositivos móviles */
a, button, div {
  -webkit-tap-highlight-color: transparent;
}

/* -----------------------------
   VARIABLES GLOBALES
----------------------------- */
:root {
  --fuente-principal: 'Roboto', sans-serif;
  --main-color: #b71c1c;
  --secondary-color: #b99a32;
  --yellow-logo: #FED700;
  --blanco-logo: #F5F5F4;
  --darkgrey-color: #2B2A27;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -----------------------------
   BODY
----------------------------- */
body {
  margin: 0;
  margin-bottom: 0;
  font-family: var(--fuente-principal);
}

/* -----------------------------
   BARRA DE NAVEGACIÓN DE REGISTRO
----------------------------- */
.register-nav-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13rem;
  background-color: #2B2A27;
  z-index: 999;
}

/* -----------------------------
   LOGO DEL REGISTRO
----------------------------- */
.register-logo-container {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-logo-container img {
  max-height: 50px;
  object-fit: contain;
}

/* -----------------------------
   CONTENEDOR DE PASOS DEL REGISTRO
----------------------------- */
.register-step-container {
  display: flex;
  width: 60%;
  justify-content: center;
}

.register-process {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
}

/* -----------------------------
   PASO NUMERADO
----------------------------- */
.process-step-number {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--yellow-logo);
  font-size: 1.2rem;
  color: var(--main-color);
  margin-right: 10px;
}

/* -----------------------------
   NOMBRE DEL PASO
----------------------------- */
.process-step-name {
  font-size: 1.1rem;
  color: var(--blanco-logo);
  font-family: var(--fuente-principal);
  margin-right: 20px;
}

/*CENTER OF THE PAGE*/

.full-screen {
  width: 100%;     /* 100% del ancho de la ventana */
  height: 100vh;    /* 100% del alto de la ventana */
  background-color: #2B2A27; /* Solo para que lo veas */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}


    .register-container {
      background-color: #f0f0f0;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      width: 100%;
      max-width: 400px;
      max-height: 550px;
      animation: fadeSlide 0.6s ease-out;
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 28px;
    }

    .step-info {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
      color: #777;
    }

    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .google-btn img {
      height: 20px;
      margin-right: 10px;
    }

    .divider {
      text-align: center;
      margin: 15px 0;
      color: #aaa;
    }

    input {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .register-error {
        color: #E92E20;
        font-weight: bold;
        display: none;
        font-size: 12px;
    }

    .register-submit-btn {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: var(--blanco-logo);
      font-size: 16px;
      font-weight: bold;
      border-radius: 6px;
      margin-top: 16px;
      cursor: pointer;
      transition: background 0.4s ease;
    }

    .register-submit-btn:disabled {
      background-color: var(--main-color);
      cursor: not-allowed;
    }



    .login-link {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .login-link a {
      color: var(--main-color);
      font-weight: bold;
      text-decoration: none;
    }

  /* DISENO PARA PAGUINA LOGIN*/


  .login-nav-container {
  width: 100%;
  height: 70px;
  position: relative;
  padding: 0 13rem;
  background-color: #2B2A27;
  z-index: 999;
}

  .login-back {
  position: absolute;
  left: 20px; /* Separación desde el borde izquierdo */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  text-decoration: none; /* quita subrayado */
}

.back-text {
  margin-top: 2px;
  color: var(--blanco-logo);
}

.login-logo-container {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-logo-container img {
  max-height: 50px;
  object-fit: contain;
}

  .mobile-only {
    display: none;
    text-decoration: none; /* quita subrayado */
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 12px 16px;
    background-color: #2B2A27;
    border-bottom: 1px solid #2B2A27;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
  }

  .login-container {
      background-color: #f0f0f0;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      width: 100%;
      max-width: 400px;
      height: 450px;   
      animation: fadeSlide 0.6s ease-out;
    }

    .login-error {
      color: var(--main-color);
      font-family: var(--fuente-principal);
      background-color: #f8d7da;   /* Light red/pink background */
      color: #842029;              /* Dark red text */
      border: 1.5px solid #f5c2c7; /* Soft red border */
      padding: 12px 20px;
      border-radius: 6px;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: 0 2px 6px rgba(255, 0, 0, 0.15);
      max-width: 400px;
      margin: 15px auto;
      text-align: center;
      animation: shake 0.9s ease-in-out;
    }

    h2 {
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 700;
      color: #222;
    }
    .login-subtitle {
      font-size: 15px;
      color: #666;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
    input {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    .login-btn-primary {
      width: 100%;
      padding: 12px;
      background-color: var(--main-color);
      border: none;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 6px;
      margin-top: 10px;
      cursor: not-allowed;
      transition: background 0.2s ease;
    }
  
    .login-create-account {
      margin-top: 15px;
      font-size: 14px;
      color: #555;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .login-create-account a {
      color: var(--main-color);
      text-decoration: none;
      margin-left: 5px;
    }
    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      color: var(--darkgrey-color);
      text-decoration: none;
      border-radius: 6px;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 15px;
      background-color: var(--blanco-logo);
      transition: background 0.2s ease;
    }


    .google-btn:hover {
      background-color: var(--yellow-logo);
    }
    .google-btn img {
      height: 20px;
      margin-right: 10px;
    }

/* DISENO PARA PAGUINA VERIFY*/



.verification-container {
  background-color: #fff;
  max-width: 400px;
  height: 350px;
  margin: 50px auto;
  padding: 25px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.verification-container h2 {
  margin-top: 0;
  font-size: 22px;
}

.verification-container p {
  margin: 10px 0;
  font-size: 16px;
}

.code-input {
  width: 100%;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 15px 0;
  box-sizing: border-box;
}

.code-submit-button {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/*DISENO PARA FORGOT PASSWORD*/

.forgot-password-container {
      background-color: #f0f0f0;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      width: 100%;
      max-width: 400px;
      height: 400px;   
      animation: fadeSlide 0.6s ease-out;
    }

.back-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f7; /* gris claro estilo Apple */
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.15s;
}

.back-button:hover {
  background-color: #e5e5e7;
  transform: translateX(-2px);
}

.arrow {
  font-size: 18px;
  line-height: 1;
}

.resend-text {
  margin-top: 15px;
  font-size: 14px;
}

.resend-text a {
  color: #007bff;
  text-decoration: none;
}

.resend-text a:hover {
  text-decoration: underline;
}
  

@media (max-width: 1119px) {
    .register-nav-container {
        padding: 0 5rem;
    }
}

@media (max-width: 907px) {
    .register-nav-container {
        padding: 0 0rem;
    }
}
/* Estilos para pantallas de celular */
@media (max-width: 768px) {
    body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    }

  .register-nav-container {
    align-items: center;
    gap: 10px;
    height: 70px;
  }

  .register-logo-container img {
    max-height: 30px;
    object-fit: contain;
    }

  .register-step-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
  .register-process {
  display: flex;
  justify-content: center; 
  align-items: center;            /* Alineación vertical centrada */
  width: 100%;
  margin-top: 5px;

}
    .process-step-number {
       margin-left: 15px;
    }
  .process-step-name {
    margin-right: 0px;
    width: 100%;
    font-size: 1.125rem;
  }

  .second-process,
  .third-process {
    display: none;
  }

  .login-back {
    display: none;
  }

   .mobile-only {
    display: flex;
    margin-bottom: 5px;
  }

  .back-button {
    cursor: pointer;
  }

  .back-icon {
    margin-right: 12px;
    flex-shrink: 0;
  }

  .back-text-movil {
    color: var(--blanco-logo);
    font-size: 16px;
    font-weight: 500;
  }

}