/* -----------------------------
   FUENTES Y RESET
----------------------------- */
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Eliminar resaltado azul en dispositivos móviles */
a, button, div {
  -webkit-tap-highlight-color: transparent;
}

/* -----------------------------
   VARIABLES GLOBALES
----------------------------- */
:root {
  --fuente-principal: 'Roboto', sans-serif;
  --main-color: #b71c1c;
  --secondary-color: #b99a32;
  --yellow-logo: #FED700;
  --blanco-logo: #F5F5F4;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -----------------------------
   BODY
----------------------------- */
body {
  margin: 0;
  margin-bottom: 0;
  font-family: var(--fuente-principal);
}

/* -----------------------------
   BARRA DE NAVEGACIÓN DE REGISTRO
----------------------------- */
.register-nav-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13rem;
  background-color: #2B2A27;
  z-index: 999;
}

/* -----------------------------
   LOGO DEL REGISTRO
----------------------------- */
.register-logo-container {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-logo-container img {
  max-height: 50px;
  object-fit: contain;
}

/* -----------------------------
   CONTENEDOR DE PASOS DEL REGISTRO
----------------------------- */
.register-step-container {
  display: flex;
  width: 60%;
  justify-content: center;
}

.register-process {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
}

/* -----------------------------
   PASO NUMERADO
----------------------------- */
.process-step-number {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--yellow-logo);
  font-size: 1.2rem;
  color: var(--main-color);
  margin-right: 10px;
}

/* -----------------------------
   NOMBRE DEL PASO
----------------------------- */
.process-step-name {
  font-size: 1.1rem;
  color: var(--blanco-logo);
  font-family: var(--fuente-principal);
  margin-right: 20px;
}

/*CENTER OF THE PAGE*/

.full-screen {
  width: 100%;     /* 100% del ancho de la ventana */
  height: 100vh;    /* 100% del alto de la ventana */
  background-color: #2B2A27; /* Solo para que lo veas */
  display: flex;
  justify-content: center;
  padding-top: 40px;
}


    .register-container {
      background-color: #f0f0f0;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      width: 100%;
      max-width: 400px;
      max-height: 550px;
      animation: fadeSlide 0.6s ease-out;
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 28px;
    }

    .step-info {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
      color: #777;
    }

    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 6px;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .google-btn img {
      height: 20px;
      margin-right: 10px;
    }

    .divider {
      text-align: center;
      margin: 15px 0;
      color: #aaa;
    }

    input {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .register-error {
        color: #E92E20;
        font-weight: bold;
        display: none;
        font-size: 12px;
    }

    .register-submit-btn {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: var(--blanco-logo);
      font-size: 16px;
      font-weight: bold;
      border-radius: 6px;
      margin-top: 16px;
      cursor: pointer;
      transition: background 0.4s ease;
    }

    .register-submit-btn:disabled {
      background-color: var(--main-color);
      cursor: not-allowed;
    }



    .login-link {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .login-link a {
      color: var(--main-color);
      font-weight: bold;
      text-decoration: none;
    }
  

@media (max-width: 1119px) {
    .register-nav-container {
        padding: 0 5rem;
    }
}

@media (max-width: 907px) {
    .register-nav-container {
        padding: 0 0rem;
    }
}
/* Estilos para pantallas de celular */
@media (max-width: 768px) {
    body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    }

  .register-nav-container {
    align-items: center;
    gap: 10px;
    height: 70px;
  }

  .register-logo-container img {
    max-height: 30px;
    object-fit: contain;
    }

  .register-step-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
  .register-process {
  display: flex;
  justify-content: center; 
  align-items: center;            /* Alineación vertical centrada */
  width: 100%;
  margin-top: 5px;

}
    .process-step-number {
       margin-left: 15px;
    }
  .process-step-name {
    margin-right: 0px;
    width: 100%;
    font-size: 1.125rem;
  }

  .second-process,
  .third-process {
    display: none;
  }

}